@model IEnumerable<TestStore.Models.Game>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_homepage";
    int counter = 0;
}
<div id="mainbody" class="wrap mainbody one-sidebar-left">
    <div class="container">
        <div class="row equal-height">
            @await Html.PartialAsync("../Shared/_Sidebar")
            <div id="content" class="content col col-xs-12 col-sm-8 col-sm-push-4 col-md-9 col-md-push-3">
                <div class="featured-view">
                    <h4><span>Featured Products</span></h4>
                    <div class="row equal-height equal-height-child">
                        @foreach (var item in Model)
                        {
                            if (counter == 3)
                            {
                                <div class="horizontal-separator"></div>
                                { counter = 0; }
                            }
                            <div class="product vm-col vm-col-3 vertical-separator col">
                                <div class="spacer">
                                    <div class="vm-product-media-container">
                                        <a title="" href="#">
                                            <img class="browseProductImage" src="../image/assassins_creed_chronicles.jpg" />
                                        </a>
                                    </div>
                                    <div class="vm-product-descr-container">
                                        <h2>
                                            @*<a href="#">game1</a>*@
                                            @item.Name
                                        </h2>
                                        <div class="platforms-field">
                                            <span>
                                                <i class="fa fa-android"></i>
                                                <i class="fa fa-apple"></i>
                                                <i class="fa fa-windows"></i>
                                            </span>
                                        </div>
                                        <p class="product-desc">
                                            @item.Description
                                        </p>
                                        <div class="product-price-block">
                                            <div class="base-price price-block">
                                                <span class="price-desc">
                                                    Base price:
                                                </span>
                                                <span class="base-price-val">
                                                    @item.Price
                                                </span>
                                            </div>
                                            <div class="sale-price price-block">
                                                <span class="price-desc">
                                                    Sales price:
                                                </span>
                                                <span class="sale-price-val">
                                                    @item.SalePrice
                                                </span>
                                            </div>
                                            <div class="addtocart-block">
                                                <form method="post">
                                                    <div class="addtocart-bar">
                                                        <span class="addtocart-button">
                                                            <input asp-action="AddToCart" asp-controller="Shop" asp-route-id="@item.Id" type="submit" value="Add to Cart" />
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            { counter++; }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
