@model IEnumerable<Article>
@{
    ViewData["Title"] = "News";
    Layout = "_Layout";
}

<div class="wrap masthead">
    <div class="ja-masthead">
        <div id="masthead-bg" style="background-image: url(../image/sl-4.jpg)">
            <div class="container">
                <div class="masthead-detail">
                    <h3 class="masthead-title">
                        News
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mainbody" class="wrap mainbody one-sidebar-left">
    <div class="container">
        <div class="row equal-height">
            @await Html.PartialAsync("../Shared/_Sidebar")
            <div id="content" class="content col col-xs-12 col-sm-8 col-sm-push-4 col-md-9 col-md-push-3" style="padding-top: 58.57142858px;">
                <div class="blog">
                    <div class="item-leading">
                        <div class="leading">
                            <article class="default">
                                <div class="pull-left item-image">
                                    <a asp-controller="News" asp-action="NewsItem">
                                        <img src="../image/FableLegend-2.jpg" />
                                    </a>
                                </div>
                                <div class="item-content">
                                    <section>
                                        <h2 class="article-title">
                                            <a asp-controller="News" asp-action="NewsItem">
                                                Murad offers new game
                                            </a>
                                        </h2>
                                    </section>
                                    <aside class="article-aside">
                                        <dl class="article-info">
                                            <dd class="writtenBy">
                                                <i class="fa fa-user"></i>
                                                <span>Super User</span>
                                            </dd>
                                            <dd class="published">
                                                <i class="fa fa-calendar"></i>
                                                <time>5 months ago</time>
                                            </dd>
                                        </dl>
                                    </aside>
                                    <section class="article-intro">
                                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet,
                                        ante. Donec eu libero sit amet quam egestas semper. Mauris placerat eleifend
                                        leo. Quisque sit amet est et sapien ullamcorper ...
                                    </section>
                                    <section class="readmore">
                                        <a class="btn btn-primary" asp-controller="News" asp-action="NewsItem">
                                            <span>Read More</span>
                                        </a>
                                    </section>
                                </div>
                            </article>
                            @foreach (var item in Model)
                            {

                                <article class="default">
                                    <div class="pull-left item-image">
                                        <a asp-controller="News" asp-action="NewsItem">
                                            <img src="../image/FableLegend-2.jpg" />
                                        </a>
                                    </div>
                                    <div class="item-content">
                                        <section>
                                            <h2 class="article-title">
                                                <a asp-controller="News" asp-action="NewsItem">
                                                    @item.Author.UserName offers new game @item.Name
                                                </a>
                                            </h2>
                                        </section>
                                        <aside class="article-aside">
                                            <dl class="article-info">
                                                <dd class="writtenBy">
                                                    <i class="fa fa-user"></i>
                                                    <span>@item.Author.UserName</span>
                                                </dd>
                                                <dd class="published">
                                                    <i class="fa fa-calendar"></i>
                                                    <time>@item.DateCreated</time>
                                                </dd>
                                            </dl>
                                        </aside>
                                        <section class="article-intro">
                                            @item.Content
                                        </section>
                                        <section class="readmore">
                                            <a class="btn btn-primary" asp-controller="News" asp-action="NewsItem">
                                                <span>Read More</span>
                                            </a>
                                        </section>
                                    </div>
                                </article>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>